@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --text-color: #f8e8e8;
  --second-text-color: #9b9cff;
  --bg-color: #c00c60;
  --dark-color: #0c0950;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  height: 100%;
  align-items: center;
  background-image: url(assets/background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  z-index: -1;
}

.navbar {
  z-index: 100;
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  background: rgba(255, 255, 255, 0.103);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  max-width: 600px;
  width: 80%;
  height: 50px;
}

.navbar .nav-links {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-links li {
  list-style: none;
}

.navbar .nav-links li .link {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
  color: var(--text-color);
  font-size: 26px;
  text-decoration: none;
}

.navbar .nav-links li .link.active {
  border: 2px solid var(--text-color);
  border-radius: 50%;
}

.navbar .nav-links .link.log-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
  color: var(--text-color);
  font-size: 20px;
  text-decoration: none;
} 

.navbar .nav-links button {
  background: none;
  color: var(--text-color);
  font-size: 26px;
  cursor: pointer;
  border: none;
}

.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.Home .header {
  color: var(--second-text-color);
  font-size: 35px;
  margin-top: 20px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.7));
}

.Home .section1 {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  width: 80%;
  justify-content: space-between;
}

.Home .section1 .row1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Home .section1 .row1 h1 {
  color: var(--text-color);
  font-size: 50px;
  text-align: center;
}

.Home .section1 .row1 .link {
  text-decoration: none;
  padding: 15px;
  border-radius: 20px;
  background: var(--bg-color);
  color: var(--text-color);
  text-align: center;

}

.Home .section1 .row2 img {
  width: 145%;
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.7));
}

.Home .section2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Home .section2 .row1 {
  display: flex;
}

.Home .section2 .row1 img {
  width: 100%;
}

.Home .section2 .row2 h1 {
  text-align: center;
  color: var(--text-color);
  font-size: 35px;
}

.chatbot {
  width: 100%;
  height: 100%;
}

.chatbot .sidebar {
  z-index: 10;
  display: flex;
  position: absolute;
  width: 0px;
  height: 100vh;
  background: var(--dark-color);
  top: 0;
  left: 0;
  justify-content: center;
  transition: width .5s ease;
}

.chatbot .sidebar p {
  display: none;
  font-size: 20px;
  color: var(--text-color);
  margin-top: 10px;
}

.chatbot .sidebar[data-visible='true'] {
  width: 250px;
}

.chatbot .historyicon {
  position: absolute;
  left: 20px;
  top: 20px;
}

.chatbot .historyicon button {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 20px;
}

.chatbot .sidebar button {
  display: none;
}

.chatbot .sidebar[data-visible='true'] button {
  display: block;
  position: absolute;
  left: 230px;
  top: 10px;
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 15px;
}

.chatbot .sidebar[data-visible='true'] p {
  display: block;
}

.chatbot .messages {
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  width: 90%;
  max-height: 70vh;
  overflow-y: auto;
  margin-top: 30px;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.chatbot .messages::-webkit-scrollbar {
  display: none;
}

.chatbot .messages .incoming-message {
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  width: 60%;
  margin-top: 10px;
  border-radius: 20px 20px 20px 5px;
}

.chatbot .messages .incoming-message p {
  white-space: pre-line;
  line-height: 1.6;
}

.chatbot .messages .outgoing-message {
  align-self: end;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.486);
  backdrop-filter: blur(10px);
  width: 50%;
  margin-top: 10px;
  border-radius: 20px 20px 5px 20px;
}

.chatbot .input {
  display: flex;
  align-items: center;
  justify-items: center;
  position: fixed;
  bottom: 80px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 700px;
  padding: 15px;
  border: 2px solid #c2b7b794;
  border-radius: 35px;
  justify-content: space-between;
}

.chatbot .input input {
  font-size: 15px;
  background: none;
  border: none;
  width: 85%;
  outline: none;
  color: var(--text-color);
}

.chatbot .input button {
  background: none;
  border: none;
  font-size: 25px;
  color: var(--text-color);
  cursor: pointer;
}

.Notes {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  overflow-y: scroll;
}

.Notes::-webkit-scrollbar {
  display: none;
}

.Notes .section1 {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.Notes .section1 h2 {
  font-size: 30px;
  color: var(--second-text-color);
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.Notes .section1 button {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  border: 2px solid var(--second-text-color);
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  color: var(--second-text-color);
  transition: .5s ease;
}

.Notes .section1 button:hover {
  background: var(--second-text-color);
  color: black;
}

.Notes .notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  width: 80%;
  height: 100%;
  margin-top: 30px;
}

.Notes .notes-list .note-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 20px;
  background: white;
  width: 200px;
  height: 200px;
  transition: .5s ease;
}

.Notes .notes-list .note-item:hover {
  transform: translateY(10px);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.Notes .notes-list .note-item h3 {
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
}

.Notes .popup {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  height: 70%;
  border: 2px solid var(--text-color);
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.672);
  backdrop-filter: blur(20px);
  animation: pop-in .5s ease;
  transform-origin: 200px;
}

.Notes .popup .popup-content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.Notes .popup .popup-content h2 {
  color: var(--text-color);
  font-size: 30px;
  text-transform: capitalize;
}

.Notes .popup .popup-content p {
  color: var(--text-color);
  text-align: left;
  width: 80%;
  height: 80%;
  font-size: 18px;
  overflow-y: scroll;
}

.Notes .popup .popup-content .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  color: var(--text-color);
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.Notes .popup .popup-content .edit-btn,
.Notes .popup .popup-content .save-btn,
.Notes .popup .popup-content .delete-btn,
.Notes .popup .popup-content .cancel-btn {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 18px;
  cursor: pointer;
}

.Notes .popup .popup-content .edit-btn {
  display: flex;
  align-items: center;
  gap: 7px;
}

.Notes .popup .popup-content .delete-btn {
  position: absolute;
  color: rgb(214, 13, 13);
  font-size: 30px;
  bottom: 20px;
  right: 20px;
}

.Notes .popup .popup-content .editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.Notes .popup .popup-content .editor input {
  padding: 10px;
  border-radius: 20px;
  width: 60%;
  font-family: "Josefin Sans", sans-serif;
}

.Notes .popup .popup-content .editor textarea {
  font-family: "Josefin Sans", sans-serif;
  width: 80%;
  height: 50%;
  padding: 10px;
  border-radius: 10px;
}

.Notes .popup .popup-content .save-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

@keyframes pop-in {
  from{
    opacity: 0;
    transform: scale(0);
    transform: translateY(-50%);
  }
  to{
    opacity: 1;
    transform: scale(1);
    transform: translateY(-50%);
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.login-container h2 {
  font-size: 30px;
  color: var(--second-text-color);
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: rgb(38, 11, 101);
  padding: 30px;
  border: 2px solid var(--text-color);
  border-radius: 20px;
  width: 80%;
  max-width: 400px;
}

.login-container form .input-box {
  position: relative;
}

.login-container form .input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid var(--text-color);
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  color: #fff;
  padding: 0 20px;
  transition: .5s ease;
}

.login-container form .input-box input:focus~label {
  top: 1px;
  font-size: .8em;
  padding: 0 6px;
  color: var(--text-color);
  background: rgb(38, 11, 101);
}

.login-container form .input-box label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: .5s ease;
}

.login-container form button {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: center;
  padding: 10px 15px;
  border-radius: 20px;
  background: none;
  border: 2px solid var(--text-color);
  font-size: 15px;
  color: var(--text-color);
  cursor: pointer;
  transition: .5s ease;
}

.login-container form button:hover {
  border: 2px solid var(--bg-color);
  background: var(--bg-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.672);
}

.login-container form p {
  color: var(--text-color);
}
.login-container form p a{
  text-decoration: none;
  color: rgb(43, 143, 250);
}

.login-container form a {
  text-decoration: none;
  color: rgb(43, 143, 250);
}

.verify-otp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.verify-otp h2 {
  font-size: 30px;
  color: var(--text-color);
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}

.verify-otp .email-input {
  padding: 10px;
  background: none;
  border: 2px solid var(--text-color);
  border-radius: 20px;
  width: 80%;
  max-width: 300px;
  color: var(--text-color);
  text-align: center;
  outline: none;
}

.verify-otp .otp-inputs {
  display: flex;
  gap: 20px;
  width: 80%;
  max-width: 300px;
  justify-content: center;
}

.verify-otp .otp-inputs input {
  width: 50px;
  height: 50px;
  background: none;
  padding: 10px;
  text-align: center;
  border: 2px solid var(--text-color);
  border-radius: 10px;
  color: var(--text-color);
  outline: none;
}

.verify-otp button {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: center;
  padding: 10px 15px;
  border-radius: 20px;
  background: none;
  border: 2px solid var(--text-color);
  font-size: 15px;
  color: var(--text-color);
  cursor: pointer;
  transition: .5s ease;
}

.verify-otp button:hover {
  border: 2px solid var(--bg-color);
  background: var(--bg-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.672);
}

.Account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.Account h2 {
  font-size: 30px;
  color: var(--text-color);
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}

.Account .account-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.Account .account-details .details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Account .account-details .details p strong {
  font-weight: 800;
}

.Account .account-details .details p {
  text-align: center;
  color: var(--text-color);
  font-size: 20px;
  text-transform: capitalize;
}

.Account .account-details .details p strong {
  text-transform: capitalize;
}

.Account .account-details .details p:last-of-type {
  text-transform: lowercase;
}

.Account .account-details .verify-details {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Account .account-details .verify-details p {
  color: var(--text-color);
  font-size: 20px;
  text-transform: capitalize;
}

.Account .account-details .verify-details button {
  background: none;
  padding: 10px;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  border-radius: 20px;
  cursor: pointer;
  transition: .5s ease;
}

.Account .account-details .verify-details button:hover {
  background: var(--text-color);
  color: #000;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.672);
}

.Account .account-details .password-change {
  align-self: center;
}

.Account .account-details .password-change .link{
  display: flex;
  align-items: center;
  gap: 7px;
  text-decoration: none;
  color: var(--text-color);
  padding: 20px;
  background: var(--bg-color);
  border-radius: 20px;
}

.change-pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.change-pass h2 {
  font-size: 30px;
  color: var(--text-color);
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}

.change-pass input {
  background: none;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--text-color);
  outline: none;
  color: var(--text-color);
}


.change-pass .otp-inputs {
  display: flex;
  width: 80%;
  max-width: 400px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.change-pass .otp-inputs input {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.change-pass button {
  background: var(--bg-color);
  padding: 15px;
  border: 2px solid var(--bg-color);
  color: var(--text-color);
  border-radius: 20px;
  cursor: pointer;
  transition: .5s ease;
}

.change-pass button:hover {
  background: var(--text-color);
  border: 2px solid var(--text-color);
  color: #000;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.672);
}

@media(max-width: 550px) {
  .Home .section1 .row1 h1 {
    font-size: 45px;
  }
  .Home .section1 .row2 {
    display: none;
  }

  .Home .section2 .row2 {
    width: 170%;
  }

  .Home .section2 .row2 h1 {
    font-size: 25px;
  }

  .chatbot .messages {
    max-height: 79vh;
  }

  .chatbot .messages .incoming-message {
    width: 80%;
  }
  
  .chatbot .messages .outgoing-message {
    width: 70%;
  }

  .chatbot .historyicon {
    left: 10px;
  }

  .Notes .popup {
    width: 80%;
  }

  .Notes .popup .popup-content .editor textarea {
    width: 95%;
    height: 65%;
  }

  .Notes .notes-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .Notes .notes-list .note-item {
    width: 150px;
    height: 150px;
  }

  .Notes .notes-list .note-item h3 {
    font-size: 20px;
  }
}

@media(max-width: 380px) {
  .chatbot .messages {
    max-height: 75vh;
  }
}

@media(max-height: 450px) {
  .chatbot .messages {
    max-height: 60vh;
  }
}